body {
    font-family: sans-serif;
    text-align: center;
    font-size: 1.75vw;
    margin: 0px;
}

header {
    background-color: black;
    height: 3vw;
    margin: 0px 0px 50px 0px;
    padding: 0em 1.5em 1.5em 0em;
    color: white;
    line-height: 3vw;
}

.container {
    margin: 0px 3em 0px 3em; 
}

.sound {
    text-align: center;
    border: 5px solid black;
    background: lightblue;
    border-radius: 20px;
    margin: 2px;
    display: inline-block;
    width: 40%;
    cursor: pointer;
}

#switch {
    text-align: center;
    border: 3px solid black;
    background: lightcoral;
    border-radius: 10px;
    margin: 2px;
    display: inline-block;
    width: 40%;
    cursor: pointer;
}


footer {
    background-color: black;
    height: 3vw;
    padding: 0em 1.5em 1.5em 1.5em;
    color: white;
    line-height: 3vw;

}


@media only screen and (max-width: 920px) {
    body {
        font-size: 2.5vw;
        margin: 0px;
    }

    header {
        background-color: black;
        height: 2vw;
        margin: 0px 0px 30px 0px;
        padding: 0em 1.5em 1.5em 1.5em;
        color: white;
        line-height: 2vw;
    }

    .sound {
        text-align: center;
        border: 5px solid black;
        background: lightblue;
        border-radius: 20px;
        margin: 2px;
        display: inline-block;
        width: 45%;
        cursor: pointer;
    }
    
  }


@media only screen and (max-width: 600px) {
    body {
        font-size: 3vw;
        margin: 0px;
    }

    header {
        background-color: black;
        height: 6vw;
        margin: 0px 0px 30px 0px;
        padding: 0em 1.5em 1.5em 0em;
        color: white;
        line-height: 6vw;
    }

    .sound {
        text-align: center;
        border: 5px solid black;
        background: lightblue;
        border-radius: 20px;
        margin: 2px;
        display: inline-block;
        width: 45%;
        cursor: pointer;
    }
    
  }